.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

/* Global table borders to match Employee List */
table {
  border: 2px solid #f8b6c1;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #f8b6c1;
  padding: 15px;
}

table thead th {
  font-weight: bold;
}
